@import url(./styles/wallpaper.css);
@import url(./styles/searchbar.css);
@import url(./styles/tabs.css);
@import url(./styles/modals.css);
@import url(./styles/dragging.css);
@import url(./styles/fab.css);
@import url(./styles/setting.css);
@import url(./styles/search.css);

@font-face {
  font-family: "Vazirmatn";
  src: url(./fonts/Vazirmatn-Regular.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Vazirmatn";
  src: url(./fonts/Vazirmatn-Bold.woff2) format("woff2");
  font-weight: 700;
}

:root {
  --accent: #3b82f6;
  --text-color: #ffffff;
  --card-blur: 12px;
  --card-opacity: 0.12;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vazirmatn", sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  color: var(--text-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Vazirmatn", sans-serif;
  overflow: hidden;
  transition: background-image 0.3s ease;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: var(--text-color);
  transition: background-color 9999s ease-in-out 0s;
  caret-color: var(--text-color);
  font-size: 17px;
}
